---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// FONTS
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,300,300italic,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100);

$sans: 'Open Sans', sans-serif;
$serif: 'Merriweather', serif;
$light: 'Lato', sans-serif;

//CUSTOM VARIABLES
$max-width: 1440px; //for the wrap div
$beige-color: #e1dfd3;
$dark-blue-color: #2c3e50;
$light-blue-color: #006699;
$orange-color: #e58e1a;
$grey-color: #818386;
$dark-grey-color: #262b2e;
$grey-text-color: #4d4d4d;
$btn-default-border: $dark-blue-color;
$btn-default-color: $dark-blue-color;
$btn-default-bg: transparent;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        // "layout",
        // "syntax-highlighting",
        "overrides",
        "bootstrap",
        "base"
;
