---
layout: default
title: Acclaims
permalink: /acclaims/
---
<div class="header-image acclaims-header-image">
    <h1 class="text-center header-h1">{{ page.title }}</h1>
</div>
<div class="container acclaim-page">
    <section class="publications">
        <h2 class="text-center acclaims-h2">Press Features</h2>
        {% assign publications = site.categories['acclaim'] | where:"type","publication" %}
            {% for pub in publications %}
                <article class="publication">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ site.baseurl }}{{ pub.img }}" alt="" class="center-block img-responsive acclaim-img">
                        </div>
                        <div class="col-md-7 col-md-offset-1 clearfix">
                          <a class="acclaim-link" target="_blank" href="{{ pub.acclaim-link }}">
                            <div class="acclaim-card">
                              <p class="acclaim-snippet">{{ pub.snippet }}</p>
                              <a target="_blank" href="{{ pub.acclaim-link }}" class="pull-right acclaim-link">-{{ pub.reviewer }}</a>
                            </div>
                          </a>
                        </div>
                    </div>
                </article>

            {% endfor %}
    </section>

    <section class="acclaims">
        <h2 class="text-center acclaims-h2">Acclaims</h2>
        {% assign acclaims = site.categories['acclaim'] | where:"type","review" | group_by:"role" %}
        {% for acclaim_roles in acclaims %}
            <!-- <h2> {{ acclaim_roles.name }} </h2> -->
            <article class="publication">
                <div class="row">
                {% assign acclaim_count = 0 %}
                {% for acclaim in acclaim_roles.items %}
                    {% if forloop.first == true %}
                        <div class="col-md-4">
                            <div class="center-block acclaim-img" style="background-image: url('{{ site.baseurl }}{{ acclaim.img  }}');">
                                <div class="role-bg">
                                    <h4 class="text-center role-title">{{ acclaim.role }}</h4>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if forloop.first == true %}
                        <div class="col-md-7 col-md-offset-1 clearfix">
                    {% endif %}
                      <a class="acclaim-link" target="_blank" href="{{ acclaim.acclaim-link }}">
                        <div class="acclaim-card">
                          <p class="acclaim-snippet">{{ acclaim.snippet | truncatewords:30 }}</p>
                          <a target="_blank" href="{{ acclaim.acclaim-link }}" class="pull-right acclaim-link">-{{ acclaim.reviewer }}</a>
                        </div>
                      </a>
                {% assign acclaim_count = acclaim_count | plus:1 %}
                {% endfor %}
                      </div>
                </div>
            </article>
        {% endfor %}
    </section>


</div>
