---
layout: default
title: Calendar
permalink: /calendar/
---
{% assign current_year = site.time | date: "%Y" %}
{% assign current_time = site.time | date: "%s" %}
{% assign events_by_year = site.categories['calendar'] | group_by:"date-year" %}

<div class="header-image calendar-header-image">
    <h1 class="text-center header-h1">{{ page.title }}</h1>
</div>
<!--Current Season-->
<h2 class="section-h2 text-center">Upcoming Schedule</h2>
<div class="container calendar-page">
    {% for year in events_by_year reversed  %}
        <div class="row">
            <div class="col-md-12">
                {% if year.name >= "2016" %}
                <h2 class="text-center calendar-page-h2-year">{{ year.name }}</h2>
                {% endif %}
            </div>
        </div>
        {% for event in year.items reversed %}
            {% assign upcoming_event_second = event.date-start | date: '%s' %}
            {% if upcoming_event_second >= current_time %}
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <h4 class="calendar-page-date">{{ event.date-start | date:'%B' }}</h4>
                    </div>
                    <div class="text-center col-md-4">
                        <h2 class="calendar-page-event-name">{{ event.title }}</h2>
                        <h4 class="calendar-page-event-role">
                            {% if event.role %}
                                as {{ event.role }}
                            {% else %}
                                as soloist
                            {% endif %}
                        </h4>
                    </div>
                    <div class="col-md-2">
                        <h6 class="calendar-page-event-house">{{ event.opera-house }}</h6>
                        <h6 class="calendar-page-event-location">{{ event.location-city }}, {{ event.location-state }}</h6>

                        {% if event.ticket-link and upcoming_event_second >= current_time %}
                            <a href="{{ event.ticket-link }}" target="_blank" class="btn btn-block btn-default calendar-btn">Tickets</a>
                        {% endif %}

                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <hr class="site-row">
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <!--Past Seasons-->
    <br>
    <h2 class="section-h2 text-center">Past Performances</h2>

    {% for year in events_by_year  %}
        <div class="row">
            <div class="col-md-12">
                {% if year.name == "2015" %}
                    <h2 class="text-center calendar-page-h2-year">{{ year.name }}</h2>
                {% endif %}
            </div>
        </div>
        {% for event in year.items %}

            {% assign upcoming_event_year = event.date-start | date: '%Y' %}
            {% if upcoming_event_year < current_year and upcoming_event_year > "2014"%}
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <h4 class="calendar-page-date">{{ event.date-start | date:'%B' }}</h4>
                    </div>
                    <div class="text-center col-md-4">
                        <h2 class="calendar-page-event-name">{{ event.title }}</h2>
                        <h4 class="calendar-page-event-role">
                            {% if event.role %}
                                as {{ event.role }}
                            {% else %}
                                as soloist
                            {% endif %}
                        </h4>
                    </div>
                    <div class="col-md-2">
                        <h6 class="calendar-page-event-house">{{ event.opera-house }}</h6>
                        <h6 class="calendar-page-event-location">{{ event.location-city }}, {{ event.location-state }}</h6>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <hr class="site-row">
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {

    var count = 0;

    $(".calendar-page-event-name:contains(Ariodante)")
    .parents(".row")
    .hide()
    .last()
    .show();

    $(".calendar-page-event-location:contains(London, UK)")
    .next()
    .click(function(event) {
        if (count < 1) {
            event.preventDefault();
            $(".calendar-page-event-name:contains(Ariodante)")
            .parents(".row")
            .fadeIn( 400 )
            .show();
            count = count + 1;
        }
    });
  });

</script>