---
layout: default
title: Media
permalink: /media/
andres-pics:
  - url: "/images/media/andres.jpg"
pedrillo-pics:
  - url: "/images/media/pedrillo-2.jpg"
lurciano-pics:
  - url: "/images/media/lurciano-2.jpg"
  - url: "/images/media/lurciano-3.jpg"
  - url: "/images/media/lurciano-4.jpg"
fidelio-pics:
  - url: "/images/media/fidelio.jpg"
dr_richardson-pics:
  - url: "/images/media/dr_richardson-2.jpg"
  - url: "/images/media/dr_richardson-3.jpg"
  - url: "/images/media/dr_richardson-4.jpg"
tamino-pics:
  - url: "/images/media/tamino-13.jpg"
  - url: "/images/media/tamino-14.jpg"
  - url: "/images/media/tamino-15.jpg"
  - url: "/images/media/tamino-2.jpg"
  - url: "/images/media/tamino-3.jpg"
  - url: "/images/media/tamino-4.jpg"
  - url: "/images/media/tamino-5.jpg"
  - url: "/images/media/tamino-6.jpg"
  - url: "/images/media/tamino-7.jpg"
  - url: "/images/media/tamino-8.jpg"
  - url: "/images/media/tamino-9.jpg"
  - url: "/images/media/tamino-10.jpg"
  - url: "/images/media/tamino-11.jpg"
  - url: "/images/media/tamino-12.jpg"
ottavio-pics:
  - url: "/images/media/don_ottavio-2.jpg"
  - url: "/images/media/don_ottavio-3.jpg"
david-pics:
  - url: "/images/media/david-6.jpg"
  - url: "/images/media/david-1.jpg"
  - url: "/images/media/david-2.jpg"
  - url: "/images/media/david-3.jpg"
  - url: "/images/media/david-4.jpg"
almaviva-pics:
  - url: "/images/media/count-almaviva-2.jpg"
ramiro-pics:
  - url: "/images/media/ramiro-5.jpg"
  - url: "/images/media/ramiro-6.jpg"
  - url: "/images/media/ramiro-7.jpg"
  - url: "/images/media/ramiro-8.jpg"
  - url: "/images/media/ramiro-9.jpg"
  - url: "/images/media/ramiro-2.jpg"
  - url: "/images/media/ramiro-3.jpg"
  - url: "/images/media/ramiro-4.jpg"
tonio-pics:
  - url: "/images/media/tonio-2.jpg"
  - url: "/images/media/tonio-3.jpg"
  - url: "/images/media/tonio-4.jpg"
  - url: "/images/media/tonio-5.jpg"
  - url: "/images/media/tonio-6.jpg"
ferrando-pics:
  - url: "/images/media/ferrando-2.jpg"
  - url: "/images/media/ferrando-3.jpg"
  - url: "/images/media/ferrando-4.jpg"
  - url: "/images/media/ferrando-5.jpg"
  - url: "/images/media/ferrando-6.jpg"
  - url: "/images/media/ferrando-7.jpg"
  - url: "/images/media/ferrando-8.jpg"
ernesto-pics:
  - url: "/images/media/ernesto-2.jpg"
  - url: "/images/media/ernesto-3.jpg"
  - url: "/images/media/ernesto-4.jpg"
  - url: "/images/media/ernesto-5.jpg"
  - url: "/images/media/ernesto-6.jpg"
portillo-pics:
  - url: "/images/media/david_portillo-2.jpg"
  - url: "/images/media/david_portillo-3.jpg"
---
<div class="header-image media-header-image">
    <h1 class="text-center header-h1">{{ page.title }}</h1>
</div>
<section class="media">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-2 role-thumb">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154792661?title=0&byline=0&portrait=0" width="760" height="427" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 role-thumb">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154910916?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 role-thumb">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154757390?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 role-thumb">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154756299?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 role-thumb">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/afoicIyeUA8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 role-thumb">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rmjWvACIACE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 role-thumb">
                <a href="https://itunes.apple.com/us/album/mozart-die-entfuhrung-aus/id1136416415" target="_blank">
                    <img src="{{ site.baseurl }}/images/album_art.png" alt="album art" class="img-responsive center-block">
                </a>
                <p>
                    W.A. Mozart <br>
                    Die Entführung aus dem Serail, K.284 (Live) <br>
                    Le Cercle de L'Harmonie  <br>
                    <b>Conductor:</b>  Jérémie Rhorer <br>
                    <b>Cast:</b> Norman Reinhardt, Jane Archibald, Mischa Schelmianski, Rachele Gilmore, David Portillo
                </p>
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <a href="https://itunes.apple.com/us/album/mozart-die-entfuhrung-aus/id1136416415" target="_blank">
                            <i class="fa fa-apple" aria-hidden="true"></i> iTunes
                        </a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="https://www.amazon.com/Mozart-Die-Entf%FChrung-aus-Serail/dp/B01ISJQT2W/ref=sr_1_1?ie=UTF8&qid=1470670080&sr=8-1&keywords=mozart+portillo" target="_blank">
                            <i class="fa fa-amazon" aria-hidden="true"></i> Amazon
                        </a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="https://play.spotify.com/album/25r9LXMKeNKTtBUkwjAjwI?play=true&utm_source=open.spotify.com&utm_medium=open" target="_blank">
                            <i class="fa fa-spotify" aria-hidden="true"></i> Spotify
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 role-thumb">
                <img src="{{ site.baseurl }}/images/featured.jpg" alt="" class="center-block img-responsive img-rounded featured-image">
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/tamino-1.jpg" data-lightbox="tamino" data-title="Tamino in The Magic Flute at Houston Grand Opera
Photo by: Lynn Lane">
                    <img src="{{ site.baseurl }}/images/tamino-thumb2.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.tamino-pics %}
                  <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="tamino" data-title="Tamino in The Magic Flute at Houston Grand Opera
Photo by: Lynn Lane"></a>
                {% endfor %}
                <h4 class="text-center image-title">Tamino - Die Zauberflöte</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/don_ottavio-1.jpg" data-lightbox="ottavio" data-title="Don Ottavio in Don Giovanni at Opera Philadelphia
Photo by: Kelly and Massa">
                    <img src="{{ site.baseurl }}/images/don_ottavio_pic_grid.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.ottavio-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }} " data-lightbox="ottavio" data-title="Don Ottavio in Don Giovanni at Opera Philadelphia
Photo by: Kelly and Massa"></a>
                {% endfor %}
                <h4 class="text-center image-title">Don Ottavio - Don Giovanni </h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/david-5.jpg" data-lightbox="david" data-title="David in Die Meistersinger von Nürnberg at Glyndebourne Opera Photo by Tristram Kenton">
                    <img src="{{ site.baseurl }}/images/david_pic_grid.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.david-pics %}
                    {% if forloop.first == true %}
                    <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="david" data-title="David in Die Meistersinger von Nürnberg at Glyndebourne Opera Photo by Tristram Kenton"></a>             {% else %}
                        <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="david" data-title="David in Die Meistersinger von Nurnberg at Lyric Opera of Chicago Photo by Dan Rest"></a>
                    {% endif %}
                {% endfor %}
                <h4 class="text-center image-title">David - Die Meistersinger</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/count-almaviva-1.jpg" data-lightbox="almaviva" data-title="Count Almaviva in The Barber of Seville at The Metropolitan Opera">
                    <img src="{{ site.baseurl }}/images/count-almaviva-thmb.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.almaviva-pics %}
                   <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="almaviva" data-title="Count Almaviva in The Barber of Seville at The Metropolitan Opera"></a>
                {% endfor %}
                <h4 class="text-center image-title">Count Almaviva - Barber of Seville</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/ferrando-1.jpg" data-lightbox="ferrando" data-title="Ferrando in Cosi fan Tutte at Opera Theatre of Saint Louis">
                    <img src="{{ site.baseurl }}/images/ferrando-thumb.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.ferrando-pics %}
                        <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="ferrando" data-title="Ferrando in Cosi fan Tutte at Opera Australia Photo by Prudence Upton"></a>
                {% endfor %}
                <h4 class="text-center image-title">Ferrando - Cosi fan Tutte</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/ramiro-1.jpg" data-lightbox="ramiro" data-title="Ramiro in La Cenerentola at Washington National Opera
Photo by Scott Suchman">
                    <img src="{{ site.baseurl }}/images/ramiro-thumb.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.ramiro-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="ramiro" data-title="Ramiro in La Cenerentola at Washington National Opera
Photo by Scott Suchman"></a>
                {% endfor %}
                <h4 class="text-center image-title">Prince Ramiro - La Cenerentola</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/tonio-1.jpg" data-lightbox="tonio" data-title="Tonio in La Fille du Regiment at Arizona Opera">
                    <img src="{{ site.baseurl }}/images/tonio-thumb2.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.tonio-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="tonio" data-title="Tonio in La Fille du Regiment at Arizona Opera"></a>
                {% endfor %}
                <h4 class="text-center image-title">Tonio - La Fille du Regiment</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/ernesto-1.jpg" data-lightbox="ernesto" data-title="Ernesto in Don Pasquale at Palm Beach Opera
Photo by Madeline Gray">
                    <img src="{{ site.baseurl }}/images/ernesto-thumb.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.ernesto-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="ernesto" data-title="Ernesto in Don Pasquale at Palm Beach Opera
Photo by Madeline Gray"></a>
                {% endfor %}
                <h4 class="text-center image-title">Ernesto - Don Pasquale</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/david_portillo-1.jpg" data-lightbox="portillo" data-title="David Portillo Headshots Photo by Kristen Hoebermann">
                    <img src="{{ site.baseurl }}/images/david_portillo.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.portillo-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="portillo" data-title="David Portillo Headshots Photo by Kristen Hoebermann"></a>
                {% endfor %}
                <h4 class="text-center image-title">David Portillo - Headshots</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/andres.jpg" data-lightbox="andres" data-title="Wozzeck - Andres - Chicago Lyric Opera ">
                    <img src="{{ site.baseurl }}/images/media/andres.jpg" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                <h4 class="text-center image-title">Andres - Wozzeck</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/lurciano-1.jpg" data-lightbox="lurciano" data-title="Ariodante - Lurcanio - The English Concert - Carnegie Hall">
                    <img src="{{ site.baseurl }}/images/media/lurciano-1.jpg" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.lurciano-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="lurciano" data-title="Ariodante - Lurcanio - The English Concert - Carnegie Hall"></a>
                {% endfor %}
                <h4 class="text-center image-title">Lurcanio - Ariodante</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/dr_richardson-1.jpg" data-lightbox="richardson" data-title="Breaking the Waves - Dr Richardson - Opera Philadelphia">
                    <img src="{{ site.baseurl }}/images/media/dr_richardson-4.jpg" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.dr_richardson-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="richardson" data-title="Breaking the Waves - Dr Richardson - Opera Philadelphia"></a>
                {% endfor %}
                <h4 class="text-center image-title">Dr. Richardson - Breaking the Waves</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/fidelio.jpg" data-lightbox="fidelio" data-title="Fidelio - Jacquino - The Metropolitan Opera">
                    <img src="{{ site.baseurl }}/images/media/fidelio.jpg" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                <h4 class="text-center image-title">Jacquino - Fidelio</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/pedrillo-1.jpg" data-lightbox="pedrillo" data-title="Die Entführung aus dem Serail - Pedrillo - Dutch National Opera">
                    <img src="{{ site.baseurl }}/images/media/pedrillo-1.jpg" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.pedrillo-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="pedrillo" data-title="Die Entführung aus dem Serail - Pedrillo - Dutch National Opera"></a>
                {% endfor %}
                <h4 class="text-center image-title">Pedrillo - Die Entführung aus dem Serail</h4>
            </div>
        </div><!--row-->
    </div><!-- container -->