---
layout: default
title: Media
permalink: /media/
tamino-pics:
  - url: "/images/media/tamino-2.jpg"
  - url: "/images/media/tamino-3.jpg"
  - url: "/images/media/tamino-4.jpg"
  - url: "/images/media/tamino-5.jpg"
  - url: "/images/media/tamino-6.jpg"
  - url: "/images/media/tamino-7.jpg"
  - url: "/images/media/tamino-8.jpg"
  - url: "/images/media/tamino-9.jpg"
  - url: "/images/media/tamino-10.jpg"
  - url: "/images/media/tamino-11.jpg"
  - url: "/images/media/tamino-12.jpg"
ottavio-pics:
  - url: "/images/media/don_ottavio-2.jpg"
  - url: "/images/media/don_ottavio-3.jpg"
david-pics:
  - url: "/images/media/david-2.jpg"
  - url: "/images/media/david-3.jpg"
almaviva-pics:
  - url: "/images/media/count-almaviva-2.jpg"
ramiro-pics:
  - url: "/images/media/ramiro-2.jpg"
  - url: "/images/media/ramiro-3.jpg"
  - url: "/images/media/ramiro-4.jpg"
tonio-pics:
  - url: "/images/media/tonio-2.jpg"
  - url: "/images/media/tonio-3.jpg"
  - url: "/images/media/tonio-4.jpg"
  - url: "/images/media/tonio-5.jpg"
  - url: "/images/media/tonio-6.jpg"
---
<div class="header-image media-header-image">
    <h1 class="text-center header-h1">{{ page.title }}</h1>
</div>
<section class="media">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-2 role-thumb">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154792661?title=0&byline=0&portrait=0" width="760" height="427" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 role-thumb">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154910916?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 role-thumb">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154757390?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 role-thumb">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/154756299?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 role-thumb">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/afoicIyeUA8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 role-thumb">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rmjWvACIACE" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 role-thumb">
                <a href="https://itunes.apple.com/us/album/mozart-die-entfuhrung-aus/id1136416415" target="_blank">
                    <img src="{{ site.baseurl }}/images/album_art.png" alt="album art" class="img-responsive center-block">
                </a>
                <p>
                    W.A. Mozart <br>
                    Die Entführung aus dem Serail, K.284 (Live) <br>
                    Le Cercle de L'Harmonie  <br>
                    <b>Conductor:</b>  Jérémie Rhorer <br>
                    <b>Cast:</b> Norman Reinhardt, Jane Archibald, Mischa Schelmianski, Rachele Gilmore, David Portillo
                </p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <a href="https://itunes.apple.com/us/album/mozart-die-entfuhrung-aus/id1136416415" target="_blank">
                            <i class="fa fa-apple" aria-hidden="true"></i> iTunes
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="https://www.amazon.com/Mozart-Die-Entf%FChrung-aus-Serail/dp/B01ISJQT2W/ref=sr_1_1?ie=UTF8&qid=1470670080&sr=8-1&keywords=mozart+portillo" target="_blank">
                            <i class="fa fa-amazon" aria-hidden="true"></i> Amazon
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="https://play.spotify.com/album/25r9LXMKeNKTtBUkwjAjwI?play=true&utm_source=open.spotify.com&utm_medium=open" target="_blank">
                            <i class="fa fa-spotify" aria-hidden="true"></i> Spotify
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 role-thumb">
                <img src="{{ site.baseurl }}/images/featured.jpg" alt="" class="center-block img-responsive img-rounded featured-image">
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/tamino-1.jpg" data-lightbox="tamino" data-title="Die Zauberflöte - Houston Grand Opera - ©Lynn Lane">
                    <img src="{{ site.baseurl }}/images/tamino-thumb2.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.tamino-pics %}
                  <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="tamino" data-title="Die Zauberflöte - Houston Grand Opera - ©Lynn Lane"></a>
                {% endfor %}
                <h4 class="text-center image-title">Tamino - Die Zauberflöte</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/don_ottavio-1.jpg" data-lightbox="ottavio" data-title="Don Giovanni - Opera Philadelphia - ©Kelly & Massa">
                    <img src="{{ site.baseurl }}/images/don_ottavio_pic_grid.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.ottavio-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }} " data-lightbox="ottavio" data-title="Don Giovanni - Opera Philadelphia - ©Kelly & Massa"></a>
                {% endfor %}
                <h4 class="text-center image-title">Don Ottavio - Don Giovanni </h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/david-1.jpg" data-lightbox="david" data-title="Die Meistersinger - Lyric Opera of Chicago - ©Dan Rest">
                    <img src="{{ site.baseurl }}/images/david_pic_grid.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.david-pics %}
                   <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="david" data-title="Die Meistersinger - Lyric Opera of Chicago - ©Dan Rest"></a>
                {% endfor %}
                <h4 class="text-center image-title">David - Die Meistersinger</h4>
            </div>
        </div> <!--1st row -->
        <div class="row">
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/count-almaviva-1.jpg" data-lightbox="almaviva" data-title="Barber of Seville - Metropolitan Opera">
                    <img src="{{ site.baseurl }}/images/count-almaviva-thmb.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.almaviva-pics %}
                   <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="almaviva" data-title="Barber of Seville - Metropolitan Opera"></a>
                {% endfor %}
                <h4 class="text-center image-title">Count Almaviva - Barber of Seville</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/ferrando-1.jpg" data-lightbox="ferrando" data-title="Cosi fan Tutte - Opera Theatre of Saint Louis">
                    <img src="{{ site.baseurl }}/images/ferrando-thumb.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                <h4 class="text-center image-title">Ferrando - Cosi fan Tutte</h4>
            </div>
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/ramiro-1.jpg" data-lightbox="ramiro" data-title="La Cenerentola - Washington National Opera">
                    <img src="{{ site.baseurl }}/images/ramiro-thumb.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.ramiro-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="ramiro" data-title="La Cenerentola - Washington National Opera"></a>
                {% endfor %}
                <h4 class="text-center image-title">Prince Ramiro - La Cenerentola</h4>
            </div>
        </div> <!--2nd row -->
        <div class="row">
            <div class="col-md-4 role-thumb">
                <a href="{{ site.baseurl }}/images/media/tonio-1.jpg" data-lightbox="tonio" data-title="La Fille du Regiment - Fort Worth Opera">
                    <img src="{{ site.baseurl }}/images/tonio-thumb2.png" alt="" class="center-block img-responsive img-rounded pic-grid">
                </a>
                {% for pic in page.tonio-pics %}
                    <a href="{{ site.baseurl }}{{ pic.url }}" data-lightbox="tonio" data-title="La Fille du Regiment - Fort Worth Opera"></a>
                {% endfor %}
                <h4 class="text-center image-title">Tonio - La Fille du Regiment</h4>
            </div>
        </div> <!--3rd row -->
    </div><!-- container -->
</section>

