<div class="subfooter">
  <div class="container">
    <h1 class="subfooter-h1">Music is the universal language of mankind.</h1>
    <h4 class="subfooter-h4">- Henry Wadsworth Longfellow</h4>
  </div>
</div>

<footer class="site-footer">
  <div class="container">
    <div class="col-md-4">
      <h4 class="site-footer-h4">&reg;{{ "now" | date: "%Y" }} David Portillo Tenor</h4>
      <p class="site-footer-p">All Rights Reserved</p>
      <p class="site-footer-p">Website by
        <a href="http://frankpigeon.com">Pigeontec</a>
      </p>
    </div>
    <div class="col-md-4">
      <h4 class="site-footer-h4">Address</h4>
      <address class="site-footer-address site-footer-p">
        <a href="http://imgartists.com/artist/david_portillo">IMG Artists, New York</a>
        <br> Pleiades House 7 West 54th St
        <br> New York, NY 10019 US
        <br> <a href="tel:+1 212 994 3500">Tel: +1 212 994 3500</a>
        <br>
        <br> Contact
        <br>
        <a href="mailto:ssnook@imgartists.com">Sam Snook, General Management</a>
        <br><a href="tel:+1 212 994 3500">Tel: +1 212 994 3500</a>
        <br>
        <br>
        <a href="mailto:rjaroff@imgartists.com">Romana Jaroff, US Concert/Recital Booking</a> <br>
        <a href="tel:+1 212 994 3518 ">Tel: +1 212 994 3518 </a>
      </address>

      <address class="site-footer-address site-footer-p">
        <a href="http://www.harrisonparrott.com/artist/profile/david-portillo">Harrison Parrott, London</a>
        <br> The Ark, 201 Talgarth Road
        <br> London, UK W6 8BJ
        <br><a href="tel:++44 (0) 20 7229 9166">Tel: +44 (0) 20 7229 9166</a>
        <br><br> Contact
        <br>
        <a href="mailto:ian.stones@harrisonparrott.co.uk">Ian Stones, General Management</a>
        <br>
        <a href="tel:+44 (0)20 3725 9104">Tel: +44 (0) 20 3725 9104</a>
        <br><br>
        <a href="mailto:alice.jones@harrisonparrott.co.uk">Alice Jones, Associate</a> <br>
        <a href="tel:+44 (0)20 3725 9181">Tel: +44 (0) 20 3725 9181</a>
      </address>
    </div>
    <div class="col-md-4">
      <h4 class="site-footer-h4">Connect</h4>
      <ul class="site-footer-social">
        <li class="social">
          <a target="_blank" class="social-link" href="https://www.facebook.com/{{ site.facebook_username }}">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="social">
          <a target="_blank" class="social-link" href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
        <li class="social">
          <a target="_blank" class="social-link" href="https://www.instagram.com/{{ site.instagram_username }}/">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{" /javascripts/bootstrap.min.js " | prepend:site.baseurl }}"></script>
<script src="{{" /javascripts/lightbox.min.js " | prepend:site.baseurl }}"></script>

<!--Google Analytics-->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-53325305-2', 'auto');
  ga('send', 'pageview');

</script>