<div class="subfooter">
	<div class="container">
		<h1 class="subfooter-h1">Where words fail, music speaks.</h1>
		<h4 class="subfooter-h4">- Hans Christian Andersen</h4>
	</div>
</div>

<footer class="site-footer">
	<div class="container">
		<div class="col-md-4">
			<h4 class="site-footer-h4">@2016 David Portillo Tenor</h4>
			<p class="site-footer-p">All Rights Reserved</p>
			<p class="site-footer-p">Website by <a href="http://pigeontec.com">Pigeontec</a></p>
		</div>
		<div class="col-md-4">
			<h4 class="site-footer-h4">Address</h4>
			<address class="site-footer-address">
				Img Artist <br>
				7 West 54th Street <br>
				New York, NY 10019 <br>
				USA
			</address>
			<address class="site-footer-address">
				Harrison Parrot Artist <br>
				and Project Management <br>
				5-6 Albion Court <br>
				Albion Place <br>
				London W6 OQT
			</address>
		</div>
		<div class="col-md-4">
			<h4 class="site-footer-h4">Connect</h4>
			<ul class="site-footer-social">
				<li class="social"><a target="_blank" class="social-link" href="https://www.facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook-square"></i></a></li>
				<li class="social"><a target="_blank" class="social-link" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter-square"></i></a></li>
				<li class="social"><a target="_blank" class="social-link" href="https://www.instagram.com/{{ site.instagram_username }}/"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>
	</div>

</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{"/javascripts/bootstrap.min.js" | prepend:site.baseurl }}"></script>
<script src="{{"/javascripts/lightbox.min.js" | prepend:site.baseurl }}"></script>
<script>
 setCarouselHeight('#acclaims-carousel');

    function setCarouselHeight(id)
    {
        var slideHeight = [];
        $(id+' .item').each(function()
        {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });

        // find the tallest item
        max = Math.max.apply(null, slideHeight);

        // set the slide's height
        $(id+' .carousel-content').each(function()
        {
            $(this).css('height',max+'px');
        });
    }
</script>
