a {
	transition:0.3s;
}
body {
    // color: #2c3e50;
    background-color: #161E21;
}
.wrap {
    overflow: hidden;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}
//COMMON
.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}
.header-image {
	@extend .bg-img;
	margin-top: -48px;
	margin-bottom: 48px;
	min-height: 380px;
}
.header-h1 {
	padding-top: 128px;
	color: $beige-color;
	font-family: $serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 29px;
	text-transform: uppercase;
}
//HOME
#myCarousel {
	margin-top: -48px;
	margin-bottom: 48px;
}
#acclaims-carousel {
	@extend #myCarousel;
    background-color: $dark-grey-color;
    padding-top: 48px;
    padding-bottom: 48px;

    .carousel-content {
    	color:white;
    	font-size: 24px;
	    display:flex;
	    align-items:center;
	    font-style: italic;

    	a {
    		text-align: center;
    		color: white;
    		&:hover {
    			text-decoration: none;
    		}
    	}
	    span {
		    float: right;
		    color: $orange-color;
		    font-style: normal;
		    font-size: 18px;
		}
	}

}

//Calendar
.calendar-header-image {
	background-image: url('/images/calendar-bg.png');
}
.calendar-page {
	.calendar-page-h2-year {
		color: $dark-blue-color;
		font-family: $light;
		font-size: 48px;
		line-height: 60px;
		text-transform: uppercase;
	}
}
//SUBFOOTER
.subfooter {
	@extend .bg-img;
	background-image: url('/images/subfooter-bg.png');
	height: 500px;
	text-align: center;
    color: white;
    padding-top: 220px;
    margin-top: 96px;
    .subfooter-h1 {
    	font-size: 48px;
		font-weight: 300;
		font-style: italic;
    }
    .subfooter-h4 {
    	font-family: $sans;
		font-size: 32px;
		font-weight: 300;
    }
}
.site-footer {
	background-color: $dark-grey-color;
	min-height: 422px;
	padding-top: 64px;
	color: $grey-color;
	.site-footer-h4	{
		font-size: 19px;
		font-weight: 400;
		line-height: 28px;
		font-family: $sans;
	}
	.site-footer-p {
		line-height: 16px;
	}
	.site-footer-social {
		padding-left: 0;
		li {
			display: inline;
		}
		.social-link {
			color: #fff;
		    font-size: 36px;
		    padding-right: 10px;
		    &:hover {
		    	color: $dark-blue-color;
		    }
		}
	}
}