//HOME
.more {
	margin-bottom: 96px;
}
.more-last {
	margin-bottom: 0;
}
#myCarousel {
	margin-top: 0;
	margin-bottom: 48px;
}
#acclaims-carousel {
	@extend #myCarousel;
	margin-top: -14px;
    background-color: $dark-grey-color;
    padding-top: 48px;
    padding-bottom: 48px;
	min-height: 260px;

    .carousel-content {
    	color:white;
    	font-size: 24px;
	    display:flex;
	    align-items:center;
	    font-style: italic;

    	a {
    		text-align: center;
    		color: white;
    		&:hover {
    			text-decoration: none;
    		}
    	}
	    span {
		    float: right;
		    color: $orange-color;
		    font-style: normal;
		    font-size: 18px;
		}
	}
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	#acclaims-carousel {
		min-height: 420px;
	}
}
@media only screen and (min-width : 992px) {
	.carousel-caption h4 {
		font-size: 50px;
		margin-bottom: 70px;
	}
	#acclaims-carousel {
		min-height: 260px;
	}
}
