// BOOTSTRAP OVERIDES
$text-color: #2e2e2e;
$font-family-sans-serif: $sans;
$font-family-serif: $serif;
$font-size-base: 16px;
$grid-gutter-width: 20px;
$container-desktop: 1040px;
$container-large-desktop: 1040px;
// $line-height-base: 1.611111111;
$navbar-height: 90px;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;
$navbar-inverse-bg: #000;
$btn-primary-bg: transparent;
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$navbar-margin-bottom: 48px;
$headings-font-family: $serif;